<h1>All Kittens</h1>

<div><%= link_to 'New Kitten!', new_kitten_path %></div>

<ul>
  <% @kittens.each do |kitten| %>
    <li>
      <%= link_to kitten.name, kitten %> 
      <%= link_to 'Delete', kitten_path(kitten), 
                 method: :delete, 
                 data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>
